<header>
  <div class="header-content">
    <div class="header-content-inner">
      <% if @idea.valid? %>
        <% if @idea.present? %>
          <div class="form-wrapper">
            <h2>登録しました！</h2>
              <%= image_tag @idea.authenticated_image_url(:large), :class => "img-responsive", :alt => "", :style => "margin:5px auto" %>
            <h3><%= "#{@idea.name}" %></h3>
            <%= link_to "自分のアイデアを見る", user_path(current_user.id), :class => "btn btn-primary" %>
        <% else %>
          <div class="form-notice">
            <h2 style="padding:25px 0; ">登録できませんでした</h2>
          <% end %>
        <% else %>
          <div class="form-notice">
            <h2 style="padding:25px 0; ">登録できませんでした</h2>
      <% end %>
        <br>
        <%= link_to "アイデアの登録に戻る", new_idea_path, :class => "btn btn-primary" %>
        <%= link_to "トップに戻る", root_path, :class => "btn btn-primary" %>
      </div>
    </div>
  </div>
</header>