<% provide :title, "#{@idea.name}" %>
<aside class="bg-dark">
</aside>
<div class="container">
  <div class="text-center">
    <h2><%= @idea.name %></h2>
    <%= link_to "#{@idea.user.name}(#{@idea.user.job.name})", user_path(@idea.user.id), :class => "btn btn-primary", :style => "width:200px" %>
    <%= image_tag @idea.authenticated_image_url(:large), :class => "img-responsive", :alt => "", :style => "margin:5px auto" %>
  <hr>
  <p><%= simple_format(@idea.outline) %></p>
  <hr>
  <p>メールアドレス：<%= @idea.user.email %></p>
  <% if @idea.user.id == current_user.id %>
    <div class="text-center">
      <%= link_to "このプロジェクトを編集する", edit_idea_path(@idea.id), :class => "btn btn-primary", :style => "margin:5px auto" %>
    </div>
  <% end %>
  </div>
</div>