<% provide :title, "#{@user.name}" %>
<section class="sub_header">
  <div class="sub_header_content">
  </div>
</section>
<div class="container">
  <div class="text-center">
    <h2><strong><%= "#{@user.family_name} #{@user.first_name}さん" %></strong></h2>
    <h3>(<%= "#{@user.school.name}：#{@user.job.name}" %>)</h3>
  </div>
  <hr>
  <% if @user.avatar.present? %>
    <%= image_tag @user.authenticated_image_url(:large), :class => "img-responsive", :alt => "", :style => "margin:0 auto" %>
  <% end %>
  <hr>
  <p><%= simple_format(@user.self_intro) %></p>
  <div class="text-center">
    <p>メールアドレス(<%= "#{@user.email}" %>)</p>
    <% if @user.id == current_user.id %>
      <%= link_to "ユーザー情報を編集する", edit_user_path(current_user.id), :class => "btn btn-primary" %>
    <% end %>
    <hr>
    <h2>アイデア一覧</h2>
    <hr>
    <section class="no-padding">
      <div class="container-fuild">
        <div class="row no-gutter">
          <div id="ideas">
            <div class="page">
              <% @ideas.each do |i| %>
                <%= render 'ideas/idea', i: i %>
              <% end %>
            </div>
          </div>
        </div>
        <%= paginate @ideas %>
      </div>
  </section>
  </div>
  <hr>
</div>